In [1]:
import pandas as pd

In [2]:
dt1 = pd.read_csv('./dataset/car_scrape.csv')
dt2 = pd.read_csv('./dataset/car_scrape3.csv')
dt3 = pd.read_csv('./dataset/car_scrape4.csv')

In [13]:
dt1.head(3)

,Name,Price,Market price,Location,Thumbnail,Images,Gear,Odometer,Fuel type,Car condition,...,Exchange Possible,Trim,Body,Drivetrain,Engine Size,Number of Cylinders,Horse Power,Seats,Interior Color,VIN Chassis number
0,Land Rover Range Rover Vogue 2021 Black,"₦ 58,000,000",NaN,NaN,https://pictures-nigeria.jijistatic.net/874925...,https://pictures-nigeria.jijistatic.net/874925...,Automatic,NaN,NaN,Foreign Used,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Toyota Land Cruiser Prado 3.0 D-4D (190 Hp) 7 ...,"₦ 37,900,000",₦ 40 M ~ 58.95 M,NaN,https://pictures-nigeria.jijistatic.net/645717...,https://pictures-nigeria.jijistatic.net/645717...,Automatic,36000 km,NaN,Foreign Used,...,NaN,3.0 D-4D (190 Hp) 7 seats,SUV,All Wheel,3000 cc,4.0,190 hp,7.0,NaN,NaN
2,Lexus GX 460 Luxury 2015 Black,"₦ 48,880,000",₦ 45 M ~ 48 M,NaN,https://i.ytimg.com/vi/uP1gJySDg5Y/sddefault.jpg,https://i.ytimg.com/vi/uP1gJySDg5Y/sddefault.j...,Automatic,86489 km,Petrol,Foreign Used,...,No,460 Luxury,SUV,4x4,4600 cc,8.0,301 hp,7.0,NaN,NaN

In [11]:
car_data = pd.concat([dt1, dt2, dt3], axis=0).drop_duplicates().to_csv('new_scrapee.csv', index=False)
car_data

In [5]:
print(dt1.shape)
print(dt1.columns)
print(len(dt1.columns))

(10, 29)
Index(['Name', 'Price', 'Market price', 'Location', 'Thumbnail', 'Images',
       'Gear', 'Odometer', 'Fuel type', 'Car condition', 'Other features',
       'Dealer name', 'Page link', 'Second Condition', 'Make', 'Model',
       'Year of Manufacture', 'Color', 'Registered Car', 'Exchange Possible',
       'Trim', 'Body', 'Drivetrain', 'Engine Size', 'Number of Cylinders',
       'Horse Power', 'Seats', 'Interior Color', 'VIN Chassis number'],
      dtype='object')
29

In [6]:
print(dt2.shape)
print(dt2.columns)
print(len(dt2.columns))

(3610, 30)
Index(['Name', 'Price', 'Market price', 'Location', 'Thumbnail', 'Images',
       'Gear', 'Odometer', 'Fuel type', 'Car condition', 'Other features',
       'Dealer name', 'Page link', 'Second Condition', 'Make', 'Model',
       'Year of Manufacture', 'Color', 'Registered Car', 'Trim', 'Body',
       'Drivetrain', 'Engine Size', 'Number of Cylinders', 'Horse Power',
       'Seats', 'Exchange Possible', 'VIN Chassis number', 'Mileage',
       'VIN number'],
      dtype='object')
30

In [5]:
print(dt3.shape)
print(dt3.columns)
print(len(dt3.columns))

(1650, 30)
Index(['Name', 'Price', 'Market price', 'Location', 'Thumbnail', 'Images',
       'Gear', 'Odometer', 'Fuel type', 'Car condition', 'Other features',
       'Dealer name', 'Page link', 'Second Condition', 'Make', 'Model',
       'Year of Manufacture', 'Trim', 'Body', 'Drivetrain', 'Engine Size',
       'Number of Cylinders', 'Horse Power', 'Color', 'Seats',
       'Registered Car', 'Exchange Possible', 'VIN Chassis number',
       'VIN number', 'Mileage'],
      dtype='object')
30

In [7]:
union = set(dt2.columns).union(set(dt3.columns))
print(union)

{'Engine Size', 'Body', 'Fuel type', 'Color', 'Thumbnail', 'Horse Power', 'Market price', 'Car condition', 'Other features', 'Year of Manufacture', 'Registered Car', 'Odometer', 'Page link', 'Drivetrain', 'Model', 'Second Condition', 'Images', 'Price', 'Name', 'Mileage', 'Location', 'Trim', 'Make', 'Gear', 'Number of Cylinders', 'Exchange Possible', 'VIN number', 'Seats', 'Dealer name', 'VIN Chassis number'}